<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-10">

      <div class="alert alert-primary" role="alert">
        Hello, {{user.name}}!
      </div>
      
      <ul id="user" class="user">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img 
              id="profile-image"
              src="{{formatImage user.image.contentType user.image.data}}"
              class="card-img-top"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 id="user-name" class="card-title">{{user.name}}</h5>
              <h6 id="user-email" class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
              <div class="mb-3">
                <form action="/settings" enctype="multipart/form-data" method="post">
                  <div class="form-group">
                    <label for="formFile" class="form-label">Upload new image</label>
                    <input 
                      id="choose-file"
                      type="file"
                      class="form-control"
                      name="uploadedImage"
                    />
                    <input
                      id="upload-file"
                      type="submit"
                      value="Upload"
                      class="btn btn-primary"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </ul>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<div id="friend-requests">Your friends requests:
  {{#each user.friendRequests}}
    <ul>
      <li>
        <img
          class="friend-req-proile-iamge"
          src="{{formatImage this.image.contentType this.image.data}}"
        />
      </li>
      <li class="friend-req-name">{{this.name}}</li>
      <li class="friend-req-accept">
        <form action="/friends/accept" method="post">
          <input
            class="requester-id"
            type="hidden"
            name="requester"
            value={{this._id}}
          />
          <input class="accept-button" type="submit" value="Accept" />
        </form>
      </li>
      <li class="friend-req-decline">
        <form action="/friends/decline" method="post">
          <input
            class="requester-id"
            type="hidden"
            name="requester"
            value={{this._id}}
          />
          <input class="accept-button" type="submit" value="Decline" />
        </form>
      </li>
    </ul>
  {{/each}}
</div>